{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Bibliothèque</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS and custom styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icons/css/flag-icon.min.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b6575a32fa.js" crossorigin="anonymous"></script>


    <style>
        body {
            background-image: url({% static 'images/background.jpg'%});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        @font-face {
            font-family: 'Carolingia';
            src: url('{% static 'fonts/carolingia.ttf' %}');
        }
    </style>

</head>

<body class="text-center" style="font-family: Candara, Serif">

<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">

        <a class="py-2" href="#" aria-label="Product">
            <img src="{% static 'images/icons8-alpha-50.png' %}" height="25" width="25">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">Bibliothèque</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Auteurs</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Ajouter un livre</a>
    </div>
</nav>

<div class="container-fluid">

    <h1 class="display-4" style="color: #FFFFFF; font-family: Carolingia, Helvetica">
        Bibliothèque Thibaud et Eléonore Hulot
    </h1>

    <div class="container-xl">
        <div class="table-responsive">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col" class="lalign">Titre</th>
                    <th scope="col" class="lalign">Auteur</th>
                    <th scope="col" class="lalign">Genre</th>
                    <th scope="col">Année</th>
                    <th scope="col">Langue</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="lalign"><a href="#exampleModalScrollable1" data-toggle="modal"
                                       data-target="#exampleModalScrollable1" style="color: #CCCCCC">Le Seigneur des
                        Anneaux</a></th>
                    <td class="lalign">John Ronald Reuel Tolkien</td>
                    <td class="lalign">Fantasy</td>
                    <td>1954</td>
                    <td><span class="flag-icon flag-icon-it"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mondal-dialog-centered modal-xl" role="document">
        <div class="modal-content" style="background-color: #1d2124">
            <div class="modal-body">
                <div class="container-fluid">
                    <br>
                    <h4 class="display-4" style="color: #FFFFFF; font-family: Carolingia">
                        Le Seigneur des Anneaux
                    </h4>
                    <br><br>
                    <div class="row">
                        <div class="col-3" style="align-content: center;">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/51N9FQmY1jL._SX316_BO1,204,203,200_.jpg"
                                 class="book-img">
                        </div>
                        <div class="col-9">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3" style="color:#FFFFFF; text-align: left;">
                                        Auteur:
                                    </div>
                                    <div class="col-9" style="color: #FFFFFF; text-align: left;">
                                        JRR Tolkien
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>

